@model IEnumerable<MVC_Bind_DDL_SP_LINQ2SQL.Models.category>
@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-12">
        <h2>MVC Dropdownlist Stored Procedure With LINQ TO SQL asp.net c#</h2>
            @Html.DropDownList("category", ViewBag.message as SelectList, "--إختر الفئه--")
    </div>
</div>